<!DOCTYPE html>
<html>
<head>
    <title>%TITLE%</title>
</head>
<body>
   <form action="index.php" method="post">
    <p>Name: <input type="name" name="name" value="%NAME%" /></p>
    <p>E-mail: <input name="email" value="%EMAIL%" /></p>
       <p>Subject: <select>
        <option value="def">
            select
        </option>
           <option value="first">
            first
        </option>
          <option value="second">
              second
          </option>       
           
           
       </select>
    </p>
    <label name="massage">Massage</label>
    <p><textarea name="massage" value="%MASSAGE%" cols="30"></textarea></p>
    <p><input type="submit" name="submit" value="Send mail"</p>
    </form>
</body>
</html>