#RewriteEngine On
#Options +FollowSymlinks
#RewriteBase  /var/cgi-bin/task1/
#DirectoryIndex index.pl
#
#RewriteRule ^(.*)$ index.pl [L]
RewriteEngine on
RewriteBase  /var/cgi-bin/task1/
RewriteRule !\.(js|gif|png|jpg|css)$ index.pl
