
body {
	margin: 0;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	color: #1B180C;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1B180C;
	margin: 15px;
}
.center {
	text-align:center;
}

#wrapper {
	width: 100%;
	background:linear-gradient(top,#a7bdce 0%,#ffffff 50%);
	background:-webkit-linear-gradient(top,#a7bdce 0%,#ffffff 50%);
	background:-moz-linear-gradient(top,#a7bdce 0%,#ffffff 50%);
	background:-o-linear-gradient(top,#a7bdce 0%,#ffffff 50%);
	background:-ms-linear-gradient(top,#a7bdce 0%,#ffffff 50%);
}

#inwrapper {
	background-color: #B5D0FF;
	width: 690px;
	margin: 0 auto;
	border: 1px solid #000000;
}

.clear {
clear: both;
}
				/*HEADER*/
#header {
	width:690px;
	height:150px;
	background-image: url(../img/header-book.jpg);
}
#navigaziya {
	width:689px;
	height:20px;
	background-color: #928C3F;
	text-align:center;
	border:1px solid black;
}
				/* HEADER*/
				/*CONTENT*/
#content {
	width: 690px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	display: table; 
	min-height: 100px;
}

#content-row {
	display: table-row;
}
#content li {
	display: table-cell;
	vertical-align: top;
	
}
#right {
	width:182px;
	background-color: #928C3F;
	border-right: 1px solid #424242;
}
.nav_title {
	margin-top:15px;
	margin-left:5%;
	margin-right:5%;
	font-weight:bold;
	text-align:center;
	border-left:4px solid #c00;
	border-bottom:1px solid #424242;
	padding-top:6px;
	padding-bottom:6px;
}
.nav_link {
color:#FFF6DC;
font-size:15px;
margin-top:10px;
margin-bottom:10px;
text-decoration: none;
}

#right a:hover {
color:yellow;
text-decoration: underline;
}

#leftk {
	background-color: #fff;
}
.post {border:1px solid #ccc; width:95%; margin: 10px;}
.post_title {background-color:#f6f6f6;}

.post_name {font-weight:bold; margin-top:7px;margin-bottom:7px;}
.post_index {font-weight:bold; font-size:20px; font-style:italic; text-align:center; color:#f00; margin:20px;}
.post_index2 {font-size:12px; font-style:italic;}
.post_adds {font-size:11px; margin-top:7px; margin-bottom:7px;
color:#424242;}
.opisanie_adds {font-size:20px; font-style:italic; margin-top:7px; margin-bottom:7px;
color:#8C2B1E;}
.post_view {
font-size:11px;
color:f6f6f6;
}
.mini {
	border: 1px solid #000;
	margin-right: 10px;
	margin-top: 2px;
}
.post_title2 {
	font-size:16px;
	font-weight:bold;
	color:#c00;
	text-align:center;
	background-color:#f6f6f6;
}
.post_add {
	font-size:11px;
	margin-top:10px;
	margin-bottom:10px;
	font-weight:bold;
}

.post_div {
	border-top:1px solid gray;
	border-top:1px solid gray;
	margin:15px;
}
.post_div p {
	margin-left:0px;
}
.sum2{
	float:left;
}
.sum3{
	float:left;
	margin-top: 25px;
	margin-left: -10px;
}

				
				/*CONTENT*/
				/*FOOTER*/
#footer {
	width:690px;
	height:20px;
	background-color: #8C3D02;
}
				/* FOOTER*/

				/**/
#feedback-form {
  max-width: 400px;
  padding: 2%;
  border-radius: 3px;
  background: #f1f1f1;
}
#feedback-form [required] {
  width: 100%;
  -moz-box-sizing: border-box; box-sizing: border-box;
  margin-bottom: 2%;
  padding: 2%;
  border: none;
  border-radius: 3px;
  overflow: auto;
  box-shadow: 0 -1px 0 rgba(0,0,0,.05) inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:hover {
  box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:focus {
  outline: none;
  box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
  transition: .2s linear;
}
#feedback-form [type="submit"] {
  padding: 2%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
  background: #669acc;
  color: #fff;
}
#feedback-form [type="submit"]:hover {
  background: #5c90c2;
}
#feedback-form [type="submit"]:focus {
  box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}